# RDBMS and SQL

### Connecting to a Database in SQLite

In [1]:
# Import the sqlite3 library
import sqlite3

In [2]:
# connect to a database
conn = sqlite3.connect("/lesson.db")

In [3]:
# close the connection
conn.close()

In [4]:
# connect to the database using open function
with open("/lesson.db") as conn:
    pass

### Using DDL and DML Commands in SQLite

In [5]:
with sqlite3.connect("/lesson.db") as conn:
    cursor = conn.cursor()

In [6]:
# Create a table in Python
cursor.execute("CREATE TABLE IF NOT EXISTS user \
                (email text, first_name text, last_name text, address text, age integer, PRIMARY KEY (email))")

In [7]:
# Insert rows into the database
cursor.execute("INSERT INTO user VALUES ('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31)") 
cursor.execute("INSERT INTO user VALUES ('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39)")

In [8]:
# Commit to the database
conn.commit()

### Sorting Values That Are Present in the Database

In [9]:
# sort lesson.db by age in descending order
with sqlite3.connect("/lesson.db") as conn:
    cursor = conn.cursor()
    rows = conn.execute('SELECT * FROM user ORDER BY age DESC')
    for row in rows:
        print(row)

('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39)
('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31)

In [10]:
# Sort the lesson.db database by age in ascending order
with sqlite3.connect("/lesson.db") as conn:
    cursor = conn.cursor()
    rows = conn.execute('SELECT * FROM user ORDER BY age ASC')
    for row in rows:
        print(row)

('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31)
('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39)

### Altering the Structure of a Table and Updating the New Fields

In [11]:
# Add another column in the user table and fill it with null values
with sqlite3.connect("/lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("ALTER TABLE user ADD COLUMN gender text")
    conn.commit()

In [12]:
# Update all of the values of gender so that they are M 
cursor.execute('UPDATE user SET gender="M"')
conn.commit()

In [13]:
# check the altered table
with sqlite3.connect("/lesson.db") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT * FROM user ORDER BY age')
    for row in rows:
        print(row)

('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39, 'M')

### Grouping Values in Tables

In [14]:
# Add a female user to the table
cursor.execute("INSERT INTO user VALUES ('shelly@www.com', 'Shelly', 'Milar', '123, Ocean View Lane', 39, 'F')")
conn.commit()

rows = conn.execute('SELECT * FROM user ORDER BY age DESC')
for row in rows:
    print(row)

('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39, 'M')
('shelly@www.com', 'Shelly', 'Milar', '123, Ocean View Lane', 39, 'F')
('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')

In [15]:
# count by each gender
rows = conn.execute("SELECT count(*), gender FROM user GROUP BY gender")
for row in rows:
    print(row)

(1, 'F')
(2, 'M')

### Deleting Rows from Tables

In [16]:
# delete rows from table
with sqlite3.connect("/lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    cursor.execute("DELETE FROM user WHERE email='bob@example.com'")
    conn.commit()

In [17]:
# view the table
rows = conn.execute("SELECT * FROM user")
for row in rows:
    print(row)

('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39, 'M')
('shelly@www.com', 'Shelly', 'Milar', '123, Ocean View Lane', 39, 'F')

### RDBMS and DataFrames

In [18]:
import pandas as pd

In [19]:
# Create a columns list with email, first name, last name, age, gender, and comments as column names
columns = ["Email", "First Name", "Last Name", "Age", "Gender"]
data = []

In [20]:
# Create a sql variable that will contain the SELECT command and use the join command to join the databases
sql = """
    SELECT email, first_name, last_name, age, gender FROM user
    WHERE user.email = 'tom@web.com'
    """

In [21]:
# execute sql command
rows = conn.execute(sql)

In [22]:
# Append the rows to the data list
for row in rows:
    data.append(row)

In [23]:
# Create a DataFrame using the data list
df = pd.DataFrame(data, columns=columns)
df

         Email First Name Last Name  Age Gender
0  tom@web.com        Tom      Fake   39      M